<div>

	<br> <br> <br> <br> <br> <br> <br> <br> <br> <br>


					<div class="card-body">

						<div class="login-form">
							<form [formGroup]="userForm" (submit)="onFormSubmit()">
								<h2 class="text-center">Log in</h2>
								<div class="form-group">

									<div class="row">
										
										<div class="col-lg">
											<input type="text" class="form-control" (click)='isValidationClear()' formControlName="username" id="username"
                        placeholder="Username" required="required">
                       
                       

										</div>
									
									</div>
								</div>
								<div class="form-group">

									<div class="row">
									
										<div class="col">
											<input type="password" (click)='isValidationClear()' formControlName="password" id="password" class="form-control"
                        placeholder="Password" required="required">
                        <label style="color: red">{{nameValidation}}</label>

                       
										</div>
										
									</div>

								</div>
								<div class="form-group">
									<div class="row">
										<div class="col"></div>
										<div class="col">
											<button type="submit"  class="btn btn-primary btn-block">Log
												in</button>
										</div>
										<div class="col"></div>
									</div>
								</div>
							
							</form>
							
						</div>




					</div>
				</div>






