/* You can add global styles to this file, and also import other style files */

.login-form {
	width: 410px;
	margin: 50px auto;
}

.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h2 {
	margin: 0 0 15px;
}

.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}

.btn {
	font-size: 15px;
	font-weight: bold;
}



.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    padding-top: 20px;
    border-style: ridge;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.7em 1.7em 1.7em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px rgb(255,251,253);
            box-shadow:  0px 0px 0px 0px rgb(255,251,253);
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight:normal !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
